name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  pull-requests: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    if: github.repository_owner == 'jhsu'
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: "22"
          registry-url: "https://registry.npmjs.org"

      - run: npm install -g npm@latest
      - run: npm install

      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          createGithubReleases: true
        env:
          GITHUB_TOKEN: ${{ secrets.GH_RELEASE_SECRET }}
          NPM_TOKEN: ""

      - name: Release
        if: steps.changesets.outputs.hasChangesets == 'false'
        run: npm publish --provenance --access public
        env:
          NPM_TOKEN: ""
